    .button {
        //visual
        background-color: #fff;
        border-radius: 50px;
        color:$blue;
        text-decoration: none;
        //box model
        padding: 10px 15px;
        //typography
        font-size: 1rem;
        font-weight: 700;
    }